---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest?api_key=BY2X2d5yFomckQzWWekeYdeWSXPAVgW5XleSP3Ui&format=json&fuel_type=ELEC,LPG&limit=10&location=80210&radius=6.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '980'
      Last-Modified:
      - Wed, 17 May 2017 17:05:38 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.679179,"longitude":-104.963089,"precision":{"types":["postal_code"],"name":"postal_code","value":5},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":72,"station_counts":{"total":151,"fuels":{"E85":{"total":0},"ELEC":{"total":144,"stations":{"total":65}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":7}}},"offset":0,"fuel_stations":[{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2017-05-17","expected_date":null,"fuel_type_code":"ELEC","id":77940,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"UNIV
        OF DENVER","station_phone":"888-758-4389","updated_at":"2017-05-17T08:24:36Z","geocode_status":"GPS","latitude":39.6799646,"longitude":-104.9639084,"city":"Denver","intersection_directions":"STURM
        HALL 1","plus4":null,"state":"CO","street_address":"2032-2054 S Race St","zip":"80210","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":1,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:126445"]},"distance":0.06961},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2017-05-17","expected_date":null,"fuel_type_code":"ELEC","id":76122,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"UNIV
        OF DENVER","station_phone":"888-758-4389","updated_at":"2017-05-17T08:13:31Z","geocode_status":"GPS","latitude":39.6797519,"longitude":-104.9613496,"city":"Denver","intersection_directions":"LAW
        GARAGE 1[...]
